   :root {
    --whiteBg: #fff; 
    --whiteColor: #fff;
    --whiteBorder: #fff;

    --blackColor: #242424;
    --blackBg: #242424;
    --blackborder: #242424;

    --brandColor: #f17b40;
    --brandBg: #f17b40;
    --brandborder: #f17b40;

    --greyBg:#F5F5F7;
    --greyBorder:#F5F5F7;
    --greyColor:#F5F5F7;

    --light_pinkBg:#FFF4F4;
    --light_pinkBorder:#FFF4F4;
    --light_pinkColor:#FFF4F4;


    }

 .trail {
  position: absolute;
  width: 6px;
  height: 6px;
  background: #f17b40;
  border-radius: 50%;
  pointer-events: none;
  /*box-shadow: 0 0 10px cyan, 0 0 20px cyan;*/
  opacity: 0.8;
  transform: translate(-50%, -50%);
  animation: fadeOut 0.5s linear forwards;
  z-index: 9999999;
  display: none;
}

@keyframes fadeOut {
  to {
    opacity: 0;
    transform: scale(0);
  }
}
  
   
   *{margin:0;padding:0;box-sizing: border-box;-moz-box-sizing: border-box;-webkit-box-sizing: border-box;}
    html,body{color: #242424;background-color: var(--whiteBg);position:relative;  font-family: "Sora", sans-serif;font-weight: 400;}
    body{overflow-x: hidden;}
    h1,h2,h3,h4,h5,h6,p,li{margin:0px;padding: 0px;}
    p{margin-bottom: 5px;font-size: 14px;line-height: 23px;color: #242424;}
    label{display: block;font-weight: 500; margin-bottom: 0;}
    img{max-width:100%;height: initial;display: inline-block;line-height: 0px;}
    a{text-decoration:none;display: inline-block;}
    a:focus{text-decoration:none;outline:none;}
    a:hover{text-decoration:none;}
    button{background: none;border: none;  font-family: "Sora", sans-serif;}
    button:focus{outline: none;}
    picture{display: block;line-height: 0px;}
    textarea{resize:none;display: block;padding: 15px;width: 100%;   font-family: "Sora", sans-serif;}
    input:focus, button, input[type="submit"],input{outline:none; font-family: "Sora", sans-serif;}
    select{display: block;width: 100%;  font-family: "Sora", sans-serif;}
    input{display: block;padding: 12px 15px;width: 100%;}
    input::placeholder {font-size: 14px; font-family: "Sora", sans-serif;}
    input::-ms-input-placeholder{font-size: 14px; font-family: "Sora", sans-serif;}
    input::-ms-input-placeholder{font-size: 14px; font-family: "Sora", sans-serif;}
    textarea::placeholder{font-size: 14px; font-family: "Sora", sans-serif;}
    select:focus{outline:none;}
    textarea:focus{outline: none;}
    .w-100{width: 100% !important;display: block;}
    .container{max-width: 1700px;margin: 0px auto; padding: 0px 100px;}
    .overflow_hidden{overflow: hidden;}
    .common_btn_subex{font-size: 15px;background: var(--brandBg);color: var(--whiteColor);border-radius: 5px;padding: 8px 18px;
    font-weight: 600;position: relative; min-width: 206px;text-align: center;}
    header .common_btn_subex{min-width: initial;}
   .common_btn_subex:before{
      content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(90.5deg, #EFAB4D 0.53%, #E1693D  99.59%);
    z-index: -1;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
    opacity: 0;
    z-index: 1;
    overflow: hidden;
    border-radius: 5px;
   }
   .common_btn_subex span{position: relative;z-index: 2;color: #fff;display: inline-block;}
    .common_btn_subex:hover{color: var(--whiteColor);}
     .common_btn_subex:hover:before{opacity: 1;}
    .common_gap{padding: 100px 0px;}
    .white_bg_section{background: #fff;position: relative;z-index: 2;}
    .text_brand{color: var(--brandColor) !important;}
    .dec_common, .dec_common p{font-size: 20px;line-height: 1.3;color: #000;margin-top: 20px;}
    .small_title_common{color: var(--brandColor);font-size: 22px;font-weight: 600;margin-bottom: 20px;}
    .common_btn_subex2{background: #fff;color: var(--brandColor);border: 1px solid var(--brandborder);}
    .common_btn_subex2 span{color: var(--brandColor);}
    .common_btn_subex2:hover span{color: var(--whiteColor);}


    .dots_canvas_box{height: 100vh;}
    .dots_canvas_box canvas {width: 100%;height: 100%;pointer-events: none;}
   .canvas_logo{position: absolute;z-index: 2;top: 24%;left: 725px;width: 400px;pointer-events: none;}


    /*---header---start---here---*/
    .header_wrapper{padding: 15px 0px;position: fixed;top: 0px;z-index: 99999;background: #fff;transition: all 0.3s;left: 0px;right: 0px;}
    .header_wrapper .fixed-header{padding: 10px 0px;}
    .header_wrapper .container{position: relative;z-index: 2;}
    .header_wrapper:after{content: '';position: absolute;top: 0px;left: 0px;right: 0px;top: 0px;
        background: var(--blackBg);height: 0px;transition: all 0.3s;}
    .header_wrapper.fixed-header:after{height: 100%;}
    .logo_image_white{display: none;width: 100%;height: initial;}
   .header_wrapper.fixed-header .logo_image{display: none;}
  .header_wrapper.fixed-header .logo_image_white{display: block;}
    .menu_toggle_btn{display: none;}
    
    .header_row{display: flex;align-items: flex-end;align-items: center;}
    .header_left_colm{width: 160px;}
    .logo_link{display: block;}
    .logo_image{width: 100%;height: initial;display: block;}
    .header_right_colm{width: calc(100% - 160px);}
    .header_nav_list_wrapper{padding: 0px;display:flex;align-items: center;justify-content: flex-end;}
    .header_nav_list{display: inline-block;list-style: none;margin: 0px 6px;}
    .header_nav_list:last-child{margin-right: 0px;}
    .header_nav_list:first-child{margin-left: 0px;}
    .header_nav_link{display: inline-block;color: var(--blackColor);transition: all 0.3s;text-transform: capitalize;
    font-size: 16px;cursor: pointer;}
    .common_btn_subex_header{transition: none !important;}
    .fixed-header .header_nav_link{color: #fff;} 
    

    .header_search_box{
      width: 0px;
      position: absolute;
      top: -10px;
    right: -6px;
    z-index: 888;
    background: #f17b40;
    padding: 5px;
    border-radius: 5px; transition: all 0.3s;visibility: hidden;pointer-events: none;opacity: 0;}
    .header_search_box.active{width: 400px;visibility: visible;opacity: 1;pointer-events: auto;}
    .header_search_box input{display: block;width: calc(100% - 30px);border: 1px solid var(--brandborder);padding: 8px;
    border-radius: 5px;background: #fff;}
    .search_icon_header{width: 22px;margin-left: 20px;cursor: pointer;position: relative;}
    .search_icon_header img, .search_icon_header svg{width: 100%;height: initial;position: relative;
    z-index: 99999;}
    .fixed-header .search_icon_header svg path, .transparrent_header .search_icon_header svg path{fill: #fff;}

     .header_wrapper.transparrent_header{background: transparent;}
   .transparrent_header .header_nav_link{color: #fff;} 
   .transparrent_header .logo_image{display: none;}
    .transparrent_header .logo_image_white{display: block;}

    .header_nav_inner_wrapper{display: flex;align-items: center; justify-content: flex-end;}
    .search_toggle.active svg path{fill: #fff !important;}


   /*---header---dropdowen---start---here---*/
   .header_sub_nav_wrapper{padding-top: 72px;position: fixed;top: 0px;left: 0px;right: 0px;
      bottom: 0px;width: 100%;z-index: 7777;    background: rgb(0 0 0 / 58%);overflow:auto;
       overscroll-behavior: contain;
  -webkit-overflow-scrolling: touch;
   scrollbar-width: none;-ms-overflow-style: none;}
   .header_sub_nav_wrapper::-webkit-scrollbar {
  display: none;
}
   .header_sub_nav_wrapper.padding_top_reduce{padding-top: 72px;}
   .header_sub_nav_wrapper::-webkit-scrollbar {display: none;}
      .header_sub_nav_wrapper_inner{background: #fff;padding: 40px 40px;
         border-bottom-left-radius: 30px;border-bottom-right-radius: 30px;}
   
   .header_tab_row{display: flex;flex-wrap: wrap;margin: 0px -10px;margin-top: -30px;}
   .header_tab_colm{width: 33.333%;padding: 0px 10px;margin-top: 30px;margin-bottom: 10px;}
   
   .ul_nav_tab_list li{display: inline-block;list-style: none;padding: 0px 20px;}
   .ul_nav_tab_list li span{font-size: 19px;font-weight: 400;color: #3E3E3F;position: relative;
      padding: 0px 5px 5px 5px;display: block;cursor: pointer;}
   .ul_nav_tab_list li span.active{color: #EE3124;}
   .ul_nav_tab_list li span:after{content: '';position: absolute;bottom: 0px;height: 2px;right: 0px;left: 0px; background: #EE3124;display: none;}
   .ul_nav_tab_list li span.active:after{display: block;}
   .ul_nav_tab_list li:first-child{padding-left: 0px;}
   .ul_nav_tab_list li:last-child{padding-right: 0px;}
   .header_tab_output_wrapper{padding-top: 30px;}

   .header_title_row{display: flex;align-items: flex-end;padding-bottom: 10px;position: relative;margin-bottom: 10px;}
   .header_title_row:after{content: '';position: absolute;bottom: 0px;height: 1px;width: 60%; left: 0px; background: #3E3E3F;
   opacity: 0.5;}
   .header_sub_nav_icon{width: 70px;}
   .header_sub_nav_icon a{display: block;}
   .header_sub_nav_icon img{width: 100%;height: initial;}
   .header_sub_nav_title_box{width: calc(100% - 70px);padding-left: 18px;}
   .header_sub_nav_title{font-size: 18px;font-weight: 600;color: #111500;line-height: 1.3;}

   .inner_sub_nav_text{color: #3E3E3F;font-size: 13px;transition: all 0.3s;}
   .inner_sub_nav_item{margin-top: 4px;padding-left: 15px;list-style: none;position: relative;}
   .inner_sub_nav_item:after{content: '';position: absolute;top: 6px;left: 0px; width: 3px;height: 3px;border-radius: 0px;
   background: #3E3E3F;transition: all 0.3s;}
   .inner_sub_nav_link{display: block;}
   .inner_sub_nav_list{padding: 0px;margin: 0px;}

   .one_line_row{display: flex;flex-wrap: wrap;align-items: center;}
   .left_title_box{width: 170px;padding: 11px 0px;min-height: 35px;}
   .right_title_box{width: calc(100% - 170px);padding-left: 130px;padding-top: 11px;padding-bottom: 11px;}
   .one_line_card_wrapper{width: 70%;}
   .left_title_link{color: #FBB034;font-size: 13px;font-weight: 600;line-height: 1.3;transition: all 0.3s;display: block;height: 100%;
   display: flex;align-items: center;}
   .right_title_inner{font-size: 14px;font-weight: 400;color: #3E3E3F;position: relative;transition: all 0.3s;padding-bottom: 5px;
   min-height: 35px;padding-bottom: 0px;display: block;}
   .right_title_inner:after{content: '';position: absolute;bottom: 0px;height: 1px;width: 95%;left: 0px;background: #3E3E3F;opacity: 0.5;}
   .tab_output_box_nav{display: none;}

   .header_sub_nav_wrapper{opacity: 0;visibility: hidden;pointer-events: none;transition: all 0.3s;}
   .header_sub_nav_wrapper.active_sub_nav{opacity: 1;visibility: visible;pointer-events: auto;}
   .header_sub_nav_wrapper_inner{
      transform: translateY(-100%); opacity: 0;visibility: hidden;pointer-events: none;transition: all 0.5s;
   }
   .active_sub_nav .header_sub_nav_wrapper_inner{opacity: 1;visibility: visible;transform: translate(0px);pointer-events: auto;}
   .products-services-menu .header_title_row{align-items: center;}

   .header_tab_output_wrapper_with_title{display: block !important;}
   .top_title{color: #ECB150;font-weight: 600;font-size: 14px;}
   .link_title_color .left_title_link{color: #3E3E3F;}
   .products-services-menu .inner_sub_nav_item{padding-left: 0px;}
   .products-services-menu .inner_sub_nav_item:after{display: none;}
   .title_border_full .right_title_inner{display: block;}
   .one_line_card_wrapper .one_line_row:last-child .right_title_inner:after{display: none;}
   .back_button_sub_menu_mobile{display: none;cursor: pointer;}

   
     @media screen and (min-width: 1200px){
      .inner_sub_nav_item:hover:after{background: var(--brandColor);}
      .inner_sub_nav_item:hover .inner_sub_nav_text{color: var(--brandColor);}
      .header_sub_nav_icon:hover ~ .header_sub_nav_title_box .header_sub_nav_title{color: var(--brandColor);}
      .left_title_link:hover, .right_title_inner:hover, .left_title_box:hover ~ .right_title_box .right_title_inner,
       .link_title_color .left_title_link:hover{color: var(--brandBg);}
      .left_title_box:hover ~ .right_title_box .right_title_inner:after, .right_title_inner:hover:after{background: var(--brandBg);}
       header:hover:after{height: 100%;}
       header:hover .header_wrapper:after{height: 100%;}
       header:hover .header_nav_link{color: #fff;}
       header:hover .header_nav_link:hover{color: var(--brandColor);}
       header:hover  .search_icon_header svg path, header:hover .transparrent_header .search_icon_header svg path {
         fill: #fff;}
      header:hover .header_wrapper .logo_image {display: none;}
      header:hover .header_wrapper .logo_image_white {display: block;}

      .header_sub_nav_wrapper .container{padding-bottom: 50px;}
      .active_dropdowen{position: relative;}
      header:hover .active_dropdowen{color: var(--brandColor);position: relative;}
      header .active_dropdowen:after{content: '';position: absolute;bottom: -35px;height: 3px;right: 0px;left: 0px;
         background: var(--brandBg);display: block;}
      .common_btn_subex_header{color: #fff !important;}
      .common_btn_subex_header:after{bottom: -29px !important;}
      
    }

     @media screen and (max-width: 1400px){
      header .active_dropdowen:after{bottom: -30px !important;}
      header .active_dropdowen.common_btn_subex_header:after{bottom: -25px !important;}
     }



     /*-----hedear----dropdowen----2---start----here---*/
     .header_dropdowen_wrapper_2{
      display: flex;flex-wrap: wrap;margin: 0px -15px;
      background: #fff;padding: 50px;padding-left: 0px;border-bottom-left-radius: 30px;border-bottom-right-radius: 30px;
     }
     .solution_left_colm{width: 35%;padding-right: 10px;}
     .solution_right_colm{width: 65%;}


     .header_dropdowen_wrapper_2 ul li{list-style: none;padding: 0px;}
     .header2_menu_title{font-size: 18px;font-weight: 700;padding-left: 50px;margin-bottom: 10px;}
      .headermenu_tab_menu_list ul li{display: block;margin: 4px 0px;}
     .headermenu_tab_menu_list ul li a{display: block;padding: 10px 50px;font-size: 16px;font-weight: 500;color: #414042;
    transition: all 0.3s; border-radius: 16px;position: relative;}
   .headermenu_tab_menu_list ul li a.active{color: #F17A3F;background: #F1F2F2;}
   .icon_menu2_hover svg{width: 100%;height: initial;}
      .icon_menu2_hover{width: 20px;position: absolute;top: 50%;right: 15px;transform: translate(0px, -50%);visibility: hidden;
      line-height: 0px;}
      .headermenu_tab_menu_list ul li a.active .icon_menu2_hover{visibility: visible;}
     .solution2_header_row{display: flex;flex-wrap: wrap;margin: 0px -15px;}
     .solution2_colm{padding: 0px 15px;width: 33.333%;}
     .solution2_li{margin-top: 15px;}
     .solution2_li:first-child{margin-top: 0px;}
     .solution2_link{font-size: 16px;font-weight: 300;color: #000;transition: all 0.3s;}
     .solution2_link:hover{color: #F17A3F;}
     .title_font_right{font-size: 18px;font-weight: 300;}
     .title_font_right strong{font-weight: 700;}
     .title_Card_colm_top_row_header2{display: flex;align-items: center;margin-bottom: 20px;padding-left: 15px;}
     .colm_icon_header_card2 img{width: 100%; height: initial;}
     .colm_icon_header_card2{width: 70px;}
     .title_right_card_header2{width: calc(100% - 90px);padding-left: 10px;}
     .solution2_inner_box{height: 100%;border-left: 1px solid #D1D3D4;padding-left: 15px;}
     .solution2_colm:first-child .solution2_inner_box{border-left: none;}
     .solution_left_colm{border-right: 1px solid #D1D3D4;}
     .solution_output_wrapper{display: none;}

     .business_ansurrance_row{display: flex;margin: 0px;}
     .business_ansurrance_colm{width: 33.333%;padding: 0px;}
     .business_ansurrance_colm:first-child .business_ansurrance_inner_box{border-left: none;}
     .business_ansurrance_inner_box{height: 100%;border-left: 1px solid #D1D3D4;padding-left: 15px;padding-right: 10px;}
     .business_ansurrance_link{padding-right: 20px;position: relative;display: block;}
     .icon_gray_header_2{width: 20px;line-height: 0px;position: absolute;top: 50%;right: 0px; transform: translate(0px, -50%);
   visibility: hidden;}
     .business_ansurrance_link.active .icon_gray_header_2{visibility: visible;}
     .business_ansurrance_link.active{font-weight: 600;color: #000;}
     .icon_gray_header_2 svg{width: 100%;height: initial;}
     .business_ansurrance_target{display: none;}
     .third_level_target{display: none;}

     .services_wrapper_header2{padding-left: 50px;width: 100%;}
     .services_wrapper_header2 .header2_menu_title{padding-left: 15px;}
     .services_row_header2{display: flex;margin: 0px -15px;flex-wrap: wrap;}
     .services_colm_card{padding: 0px 15px;width: 25%;margin-top: 20px;}
     .services_colm_card .title_Card_colm_top_row_header2{padding-left: 0px;margin-bottom: 0px;}
      .title_Card_colm_top_row_header2{color: #000;}
      .product_wrapper2 .header2_menu_title{margin-bottom: 30px;}
      .product_wrapper2 .solution_right_colm{padding-left: 30px;}
      .product_li2{margin-bottom: 20px;}
      .product_ul2{padding-top: 50px;}
      .product_li2:last-child{margin-bottom: 0px;}
      .product_link2{color: #000;font-size: 16px;transition: all 0.3s;}
      .product_link2:hover{color: #F17A3F;}
      .about_header_row2{display: flex;flex-wrap: wrap;margin: 0px -15px;padding-top: 20px;}
      .about-header_colm2{width: 33.333%;padding: 0px 15px;}
      .about-header_colm_inner2{height: 100%;border-right: 1px solid #D1D3D4;height: 100%;padding-bottom: 50px;}
      .title_about_header_dropdowen{font-size: 16px;color: #000;margin-bottom: 20px;font-weight: 700;;}
      
      .link_about_dropdowen{font-size: 16px;color: #000;width: 80%;display: block;transition: all 0.3s}
      .link_about_dropdowen:hover{color: #F17A3F;}
      .about-header_colm2:nth-child(3n) .about-header_colm_inner2 {
         border: none;
      }
     

      @media screen and (min-width: 1200px){
      .headermenu_tab_menu_list ul li a:hover{color: #F17A3F;background: #F1F2F2;}
      .headermenu_tab_menu_list ul li a:hover .icon_menu2_hover{visibility: visible;}
      .business_ansurrance_link:hover .icon_gray_header_2{visibility: visible;}
      .business_ansurrance_link:hover {font-weight: 600;color: #000;}
      .mobile_menu_dropdowen_header2{display: none;}
      .ecosystem_row .business_ansurrance_colm{width: 42%;}
      
      }

      @media screen and (max-width: 1400px){
         .solution2_link{font-size: 14px;}
         .icon_menu2_hover{width: 17px;}
         .header2_menu_title, .title_font_right{font-size: 16px;}
         .link_about_dropdowen{font-size: 14px;}
      }




    /*----footer---start---here---*/
    footer{padding: 65px 0px 40px 0px;
         background: linear-gradient(173.62deg, #FFD13E 4.77%, #E76300 47.46%, #6F0300 90.99%);
         background-image: url(../images/Subex-Footer.jpg);
         background-size: cover;
         position: relative;z-index: 2;}
    .footer_row{display: flex;flex-wrap: wrap;margin: 0px -15px;}
    .footer_colm{width: 37%;padding: 0px 15px;margin-top: 40px;}
     .footer_colm:nth-of-type(3), .footer_colm:nth-of-type(6){width: 26%;}
    .footer_title{font-size: 18px;line-height: 1.3;color: #fff;font-weight: bold;margin-bottom: 15px;}
    .footer_list{padding: 0px;}
    .footer_link{display: inline-block;color: #fff;font-size: 16px; margin-top: 8px;position: relative;transition: all 0.3s;line-height: 1.3;}
    .footer_item{list-style: none;}
    .footer_colm:last-child .footer_link{font-size: 18px;line-height: 1.3; color: #fff;font-weight: bold;margin-bottom: 15px;}
    .footer_link:after{ content: '';position: absolute;bottom: -2px;left: 50%; width: 0px; height: 1px;background: #000;transition: all 0.3s;}
    .footer_logo a{display: block;}
    .footer_logo a img{width: 100%;height: initial;transition: all 0.5s;}
    .footer_logo{width: 45%;margin: 0px auto;margin-top: 70px;}

    @media screen and (min-width: 1200px){
      .header_nav_link.active{color: var(--brandColor);}
    }

    @media screen and (min-width: 992px){
        .footer_link:hover, .footer_colm:last-child .footer_link:hover{color: #000;}
        .footer_link:hover:after{left: 0px;right: 0px; width: 100%;}
        .header_nav_link:hover, .transparrent_header  .header_nav_link:hover{color: var(--brandColor);}
        /* .footer_logo a img:hover{transform: scale(0.9);} */
        header .common_btn_subex{font-weight: 400;padding-top: 6px;padding-bottom: 6px;}
    }
    /*----footer---end---here---*/


    /*---native---ai---start---here---*/
    .native_ai_partner{padding: 190px 0px 150px 0px;position: relative;}
    .subex_title_common{font-size: 32px;font-weight: 700;color: #000;line-height: 1.3;}
    .subex_desc_title{font-size: 25px;font-weight: 400;color: var(--brandColor);margin-bottom: 12px;}
    .subex_desc{color: #000;font-size: 20px;font-weight: 400;margin-bottom: 21px;line-height: 1.3;}
    .native_ai_partner_content_card{width: 550px;}
    .native_ai_bottom_row{display: flex;margin: 0px -15px;}
    .native_ai_card{padding: 5px 15px;border: 1px solid transparent;display: flex;transition: all 0.3s;position: relative;}
    .native_ai_card:after{content: '';position: absolute;top: 0px;bottom: 0px; right: 1px; border-right: 1px solid var(--brandborder);}
    .native_ai_icon{width: 80px;}
    .native_ai_card:last-child:after{display: none;}
    .native_ai_icon img{width: 100%;display: block;height: initial;transition: all 0.3s;}
    /* .native_ai_content_card{width: calc(100% - 80px);padding-left: 10px;} */
    .native_ai_title_content{font-size: 19px;font-weight: 600;color: #000;line-height: 1.3;padding-left: 15px;}
    .native_ai_content_card{overflow: hidden;}
    .native_ai_title_content span{display: block;}
    .native_ai_bottom_wrapper{margin-top: 44px;}

    .native_ai_partner_bg{position: absolute;top: 80px;left: 0px;right: 0px;bottom: 0px;width: 100%;height: 100%;}
    .native_ai_partner .container{position: relative;z-index: 2;}
    .subex_desc_banner_h span{display: block;}

    @media screen and (min-width: 768px){
        .native_ai_partner{position: sticky;top: 0px;}
        .native_ai_card:hover .native_ai_icon img{transform: scale(1.1);}
    }

    @media screen and (min-width: 992px){
         /* .native_ai_card:hover{background: rgb(255 242 235);border: 1px solid var(--brandborder);} */
         /* .native_ai_card{transition: all 0.5s;min-width: 200px;overflow: hidden;background: #fff;}
         .native_ai_content_card{position: relative; right: -100%;transition: all 0.5s;}
          .native_ai_icon{position: relative; left:80px;transition: all 0.6s;top: -1px;}
           .native_ai_card.active .native_ai_content_card{right: 0px;}
          .native_ai_card.active .native_ai_icon{left: 0px;}


      .native_ai_title_content span{display: block;}
      .native_ai_content_card{position: relative;height: 73px;width: 150px;overflow: hidden;}
      .native_ai_card:nth-of-type(3) .native_ai_content_card{width: 240px;}
      .native_ai_card:nth-of-type(2) .native_ai_content_card{width: 145px;}
      .native_ai_title_content{position: absolute;width: 100%;top: 100%; left: 15px;opacity: 0;
      transition: transform 0.6s ease, opacity 0.6s ease;}
      .native_ai_title_content:first-child{top: 0;opacity: 1;transform: translateY(0);}
      
      .native_ai_card.active2:hover .native_ai_title_content:nth-child(1) {transform: translateY(-100%);transition-delay: 0s;}
      .native_ai_card.active2:hover .native_ai_title_content:nth-child(2) {transform: translateY(-200%);top: 100%;
         opacity: 1;transition-delay: 0.15s;}
      .native_ai_card.active2:hover .native_ai_title_content:nth-child(3) {transform: translateY(-200%);top: 100%;
         opacity: 1;transition-delay: 0.3s;}
         .native_ai_card.active2:hover .native_ai_title_content:nth-child(4) {transform: translateY(-200%);top: 100%;
         opacity: 1;transition-delay: 0.45s;}
         .native_ai_card.active2:hover .native_ai_title_content:nth-child(5) {transform: translateY(-100%);top: 100%;
         opacity: 1;transition-delay: 0.6s;} */
         

      .ai_native_title_box {position: relative;overflow: hidden;height: 84px;display: inline-block;width: 400px;}
      .text_native_marquee_dowen_to_up {position: absolute;width: 100%;top: 100%; left: 0;opacity: 0;
      transition: transform 0.6s ease, opacity 0.6s ease;}
      .text_native_marquee_dowen_to_up:first-child {top: 0;opacity: 1;transform: translateY(0);}
      .ai_native_title_box:hover .text_native_marquee_dowen_to_up:nth-child(1) {transform: translateY(-100%);transition-delay: 0s;}
      .ai_native_title_box:hover .text_native_marquee_dowen_to_up:nth-child(2) {transform: translateY(-200%);top: 100%;
         opacity: 1;transition-delay: 0.15s;}
      .ai_native_title_box:hover .text_native_marquee_dowen_to_up:nth-child(3) {transform: translateY(-100%);top: 100%;
         opacity: 1;transition-delay: 0.3s;}

    }

     @media screen and (min-width: 992px) and (max-width: 1400px){
         .ai_native_title_box{width: 380px;height: 70px;margin-bottom: 15px;}
         /* .native_ai_content_card{height: 68px;}
         .native_ai_icon{left: 70px;} */


      }
      @media screen and (max-width: 991px){
         .text_native_marquee_dowen_to_up{display: none;}
         .text_native_marquee_dowen_to_up:first-child{display: block;}
         .native_ai_card{width: initial;height: initial;}
         .native_ai_card .native_ai_title_content{display: none;height: initial;}
         .native_ai_card .native_ai_title_content:nth-child(1){display: block;}
         

      }


    /*---global---shift---start---here---*/
    .global_shift{position: relative;z-index: 2;overflow: hidden;}
    .global_shift_bg{height: initial;width: 100%;display: block;line-height: 0px;}
    .text_white{color: #fff;}
    .global_shift_content_wrapper{position: absolute;left: 0px;right: 0px;bottom: 100px;}
    .global_shift_row{display: flex;flex-wrap: wrap;margin: 0px -10px;}
    .global_shift_colm{width: 33.333%;padding: 0px 10px;}
    .global_shift_inner_colm{
        border: 1px solid rgb(255 255 255 / 80%);
        background: linear-gradient(18.05deg, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0) 68%);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
        padding: 55px 15px; height: 100%;
        border-radius: 20px; transition: all 0.3s;
    }
    .global_shift_inner_title{font-size: 25px;color: #fff;font-weight: 600;line-height: 1.3;margin-bottom: 20px;}
    .global_shift_desc{font-size: 20px;line-height: 22px;font-weight: 400;color: #fff;line-height: 26px;}
    .global_shift_bottom_content p{font-size: 25px;line-height: 1.3;color: #fff;}
    .global_shift_bottom_content{margin-top: 56px;}
    .global_shift_title_box{width: 510px;margin-left: auto;margin-bottom: 56px;}
    .global_shift_title_box .subex_desc_title{margin-top: 15px;color: #fff;}

     @media screen and (min-width: 992px){
        .global_shift_inner_colm:hover{border: 1px solid var(--brandborder);}
        .global_shift_inner_colm:hover{height: 113%;}
     }

     /*---expectations---start---here---*/
     .expectations{background: #fff;position: relative;z-index: 2;overflow: hidden;position: relative;}
     .expectations .container{position: relative;z-index: 2;}
     .exception_bg1{position: absolute;top: 50%;left: 0px;right: 0px;width: 100%;object-fit: cover;transform: translate(0px, -50%);}
     .content_wrapper_expectations{width: 50%;}
     .common_desc{margin-top: 10px;}
     .expectations_card{display: flex;align-items: center;padding: 25px;border: 2px solid var(--brandborder);margin-top: 20px;
    border-radius: 19px;transition:  all 0.3s;min-height: 186px;}
     .expectations_icon{width: 75px;}
     .expectations_icon img{width: 100%;height: initial;}
     .expectations_card_content{width: calc(100% - 75px);padding-left: 15px;}
     .expectations_card_inner_title{font-size: 25px;font-weight: 400;line-height: 1.3;}
     .expectations_card_quate_text{font-size: 16px;font-weight: 600;line-height: 1.3;margin-top: 4px;}
     .expectations_card_desc{font-size: 16px;line-height: 1.3;text-transform: capitalize;margin-top: 4px;}
     .expectations_card_desc2{font-size: 16px;line-height: 1.3;margin-top: 8px;}
     .expectations_bg{position: absolute;top: 50%; right: 100px; width: 25%; height: initial;display: block;}
     .expectations .common_desc{margin-bottom: 35px;}

     

     @media screen and (min-width: 992px){
        /* .expectations_card:hover{background: rgb(255 242 235);transform: scale(0.98);} */
        .card_hover_expectation{height: 0px;overflow: hidden;visibility: hidden;opacity: 0;transition: all 0.5s;
         margin-top: -30px;}
        .expectations_card.active .card_hover_expectation{height: initial;visibility: visible;opacity: 1;
      margin-top: 0px;}
      .expectations_card_inner_title{transform: translateY(-15px); transition: all 1.2s;}
      .expectations_card.active .expectations_card_inner_title{transform: translateY(-0px);}
        .expectations_icon img{filter: grayscale(30);transition: filter 0.3s ease;}
        .expectations_card:hover .expectations_icon img{filter: grayscale(0);}
     }

     /*---subex---role--start---here---*/
     .subex_role{position: relative;z-index: 2;background: linear-gradient(90.5deg, #E1693D 0.53%, #EFAB4D 99.59%);
   overflow: hidden;}
     .subex_role_row{display: flex;flex-wrap: wrap;margin: 0px -15px;align-items: center;}
     .subex_role_colm{width: 50%;}
     .subex_role_card{border: 1px solid rgb(255 255 255 / 80%);     background: linear-gradient(18.05deg, rgba(255, 255, 255, 0.1) 0%, rgb(255 255 255 / 24%) 68%);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);padding: 40px 30px;
        border-radius: 8px;margin-top: 20px;transition: all 0.3s;}
     .subex_role_card:first-child{margin-top: 0px;}
     .subex_role_card_title{font-size: 25px;font-weight: 700;margin-bottom: 10px;color: #3D3C3C;}
     .subex_role_card_desc{font-size: 15px;color: #3D3C3C;}
     .subex_role_title_colm{padding-left: 50px;}
     .subex_role_desc_box p{font-size: 20px;line-height: 1.3;margin-top: 25px;color: #fff;}
     .subex_role_bg{position: absolute;bottom: 0px;left: 0px;width: 40%;}
     .subex_role .container{position: relative;z-index: 2;}

      @media screen and (min-width: 992px){
        .subex_role_card:hover{background: rgb(255 242 235);transform: scale(0.96);}
     }

     /*---our---solutions---start---here---*/
     .our_solutions{position: relative;z-index: 2;background: #fff;}
     .our_solutions .common_des{font-size: 22px;font-weight: 400;margin: 20px 0px;}

     .tab-output-box{display: none;}
     .tab-menu-list ul{padding: 0px;text-align: center;padding-bottom: 30px;
        border-bottom: 1px solid #9F9F9F;padding-top: 30px;display: flex;justify-content: space-between;}
     .tab-menu-list ul li{list-style: none;display: inline-block;}
      .tab-menu-list ul li span{font-size: 25px;font-weight: 500;line-height: 1.3;color: #9A9A99;cursor: pointer;}
      
      .tab-menu-list ul li span.active{color: var(--brandColor);}
      .tab_solution_row{display: flex;flex-wrap: wrap;margin: 0px -15px;padding-top: 50px;}
      .tab_solution_colm{width: 60%;padding: 0px 15px;}
      .tab_solution_colm:nth-of-type(2){width: 40%;}
      .tab_solution_content p{font-size: 20px;font-weight: 400;color: #111500;margin-top: 30px;}
      .tab_solution_content p:first-child{margin-top: 0px;}
      .tab_solution_content{padding-right: 15%;position: relative;height: 100%;padding-bottom: 50px;}
      .solution_btn_box{position: absolute;bottom: 15px;left: 0px;z-index: 1;}

      .tab_solution_right_content{position: relative;border-radius: 25px;overflow: hidden;padding:15px 30px;width: 385px;overflow: hidden;}
      .tab_solution_inner_box{border-radius: 16px;overflow: hidden;position: relative;}
      .tab_solution_title_right{color: #fff;position: absolute;bottom: 10px;left: 10px;right: 10px;z-index: 1;}
      .solution_tab_inner_img{display: block;width: 100%;height: initial;}
      .tab_solution_icon{width: 160px;margin: 0px auto;margin-bottom: 10px;}
       @keyframes zoomInOut1 {0%, 100% {transform: scale(0.8);}50% {transform: scale(1);}}

       .tab_solution_icon  .intellience_chat_anim, .intellience_chat_anim{animation: zoomInOut1 4s ease-in-out infinite;}
       
      .tab_solution_icon img, .tab_solution_icon svg{width: 100%;height: initial;}
      .tab_solution_bg{position: absolute;top: 0px;bottom: 0px;left: 0px;height: 100%;width: 100%;}
      .tab_right_inner_box{position: relative;z-index: 2;}
      .tab_solution_title_right{font-size: 24px;font-weight: 500;text-align: center;}
      .tab_solution_title_bottom_right{font-size: 24px;font-weight: 500;line-height: 1.3;text-align: center;
        padding: 15px;padding-bottom: 0px;color: #fff;}
        .golden-icon{display: none;}
        .our_solution_tab_list.active .golden-icon{display: block;}
        .our_solution_tab_list.active .gray-icon{display: none;}

          @media screen and (min-width: 992px){
              .tab-menu-list ul li span:hover{color: var(--brandColor);}
               .our_solution_tab_list:hover .golden-icon{display: block;}
                .our_solution_tab_list:hover .gray-icon{display: none;}
            }

         .icon_box_mangment{width: 60px;line-height: 0px;}
         .icon_box_mangment img{width: 100%;height: initial;}
         .our_solution_tab_list{display: flex;align-items: center;}
         .title_managment{width: calc(100% - 60px);text-align: left;font-size: 20px;padding-left: 10px;}

      /*---trusted---power---start---here---*/
      .trusted_power{background: #fff;position: relative;z-index: 2;padding-bottom: 100px;}
      .trusted_power_row{display: flex;flex-wrap: wrap;margin: 0px -10px;}
      .trusted_power_colm{width: 33.333%;padding: 0px 10px;margin-top: 20px;}
      .trusted_power_row .trusted_power_colm:first-child{width: 64%;}
      .trusted_power_row .trusted_power_colm:first-child .trusted_power_inner_card{
         background: linear-gradient(90deg, #ff7b23 0%, #b12206 50%, #611304 100%);
         padding: 0px;
      }
      .trusted_power_row .trusted_power_colm:nth-of-type(2){width: 36%;}
      .trusted_power_row .trusted_power_colm:nth-of-type(4) .trusted_power_inner_card{background: #F5F5F5;}
      .trusted_power_inner_card{border: 0.75px solid #9A9A99;border-radius: 30px;height: 270px;padding: 50px;
      display: flex;align-items: flex-end;position: relative;overflow: hidden;}


      .trusted_card_count{color: #505050;font-size: 40px;font-weight: 700;display: inline-block;position: relative;}
      .trusted_card_count:after{content: "+";font-size: 40px;font-weight: 700; display: inline-block;}
      .trusted_power_title{font-size: 25px;font-weight: 400;position: relative;z-index: 1;}
      .trusted_power_title span{color: #F1793F;display: block;}
      .trusted_power_icon{position: absolute;top: 104px;right: 38px;width: 30%;}
      .trusted_power_icon img{width: 100%;height: initial;display: block;transition: all 0.5s;}
      .trusted_power_inner_card:hover  .trusted_power_icon img{transform: scale(1.2);}


      .trusted_power_row .trusted_power_colm:nth-of-type(1) .trusted_power_title{padding-bottom: 60px;padding-right: 30px;font-size: 28px;font-weight: 800;
      color: #fff;}
      .trusted_power_row .trusted_power_colm:nth-of-type(1) .trusted_power_icon{width: 50%;height: 100%;position: static;}
     .trusted_power_row .trusted_power_colm:nth-of-type(1) .trusted_power_icon img{width: 100%;height: 100%;object-fit: contain;object-position: left;}
      .trusted_power_row .trusted_power_colm:nth-of-type(2) .trusted_power_icon{width: 28%;top: initial;bottom: 50px; left: 55%;transform: translate(-15%, 0%);}
      .trusted_power_row .trusted_power_colm:nth-of-type(3) .trusted_power_icon{width: 28%;top: initial;bottom: 60px; right: 10%;transform: translate(0px, 0%);}
      .trusted_power_row .trusted_power_colm:nth-of-type(5) .trusted_power_icon{width: 44%;top: 44%;left: 145px;transform: translate(0px, -50%);}
.trusted_power_row .trusted_power_colm:nth-of-type(4) .trusted_power_inner_card .trusted_power_icon{width: 27%;bottom: 60px;top: initial;}
      .image_tab_new{width: 100%;height: initial;margin: 0px auto;display: block;}


   @media screen and (min-width: 768px){
      .marquee_trusted2 .trusted_logo_card{margin-top: 30px;}
   }

@media screen and (min-width: 1700px){
              .trusted_power_inner_card{height: 400px;}
              .trusted_power .container{padding: 0px 100px !important;}
            }


      /*---trust---network---start---here---*/
      .trust_network{position: relative;z-index: 2;background: #fff;}
      .trust_network_row{display: flex;margin: 0px -15px;flex-wrap: wrap;}
      .trust_network_colm_left{width: 30%;padding: 0px 15px;}
      .trust_network_colm_right{width: 70%;padding: 0px 15px;position: relative;}
      .trust_network_title{font-size: 25px;font-weight: 800;line-height: 1.3;}
      .trust_network_desc p{font-size: 20px;font-weight: 400;line-height: 1.3;margin-top: 24px;}
      .trust_network .container{position: relative;z-index: 2;}
      .map_image_trust{position: absolute;top: 0px;left: 0px;right: 0px;bottom: 0px;width: 100%;height: 100%;}

      .trusted_logo_slider {height: 100%;overflow: hidden;position: relative;}
      .trusted_logo_image {width: initial; height: initial; max-width: 100%; max-height: 80%; display: block;object-fit: contain;}
      .trusted_logo_link:hover .trusted_logo_image{filter: grayscale(0);}
      .trusted_logo_card{width: 100%;}
      .trusted_logo_link{width: 100%;display: flex;justify-content: center;align-items: center; height: 70px;margin: 20px 0px;}
      .trusted_logo_colm{width: 230px;height: 100%;}
      .trusted_logo_wrapper{display: flex;flex-wrap: wrap;justify-content: center;
         position: absolute;top: -100px;left: 0px;right: 0px;bottom: -100px;width: 100%;gap: 0px 100px;overflow: hidden;
      padding-left: 30%;}
      .trusted_logo_slider{background: rgb(255 255 255 / 35%);padding: 0px 30px;position: relative;}
      .trust_network_colm_right .map_image_trust{display: none;}
      


      .trusted_logo_slider::before,
      .trusted_logo_slider::after { content: ""; position: absolute;left: 0;width: 100%; height: 70px;
             z-index: 2; pointer-events: none;}
      .trusted_logo_slider::before {top: 0; background: linear-gradient(to bottom, rgba(255,255,255,1), rgba(255,255,255,0));}
      .trusted_logo_slider::after { bottom: 0;background: linear-gradient(to top, rgba(255,255,255,1), rgba(255,255,255,0));}


      /*---about--us---banner---start---here---*/
      .about_us_banner{
         /* aspect-ratio: 1440 / 820; */
         width: 100%; position: relative;}
      .about_us_banner .container{display: flex;justify-content: flex-end;align-items: center;}
      .about_banner_image{position: absolute;top: 0px;left: 0px;bottom: 0px;right: 0px;width: 100%;height: 100%;object-fit: cover;}
      .about_banner_content{width: 520px;padding: 20px 30px;border: 1px solid #fff;border-radius: 16px;
      background: linear-gradient(18.05deg, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0) 47%);
    backdrop-filter: blur(7px);overflow: hidden;}
      .about_banner_content .dec_common, .dec_common p{font-weight: 300;}
 
      
      .video_box_about video{width: 100%;height: initial;display: block;position: relative;}
      .about_banner_content_wrapper{position: absolute;top: 50%;left: 0px;right: 0px;width: 100%; transform: translate(0px, -50%);z-index: 2;}
      .video_box_about:after{content: '';position: absolute;top: 0px;bottom: 0px;left: 0px;right: 0px;
            background: linear-gradient(180deg, rgba(0, 0, 0, 0.7) 15%, rgba(0, 0, 0, 0.0) 28%), 
             linear-gradient(270deg, rgba(0, 0, 0, 0.7) 30%, rgba(0, 0, 0, 0.0) 70%);pointer-events:none;
             z-index: 1;
      }

      .video_box_about2{position: relative;padding-top: 56.5%;background: #000;} 
      .video_box_about2 video{width: 100%;display: block;height:100%;position: absolute;top: 0px;bottom: 0px;left: 0px;right: 0px;}

      .ifram_video_banner{position: relative;padding-top: 56%;}

      .ifram_video_banner iframe{width: 100%;display: block;height:100%;position: absolute;top: 0px;bottom: 0px;left: 0px;}

      


      /*---our---vision---section----start---here---*/
      
      .our_vision_section{position: relative;}
      .our_vision_img{position: static;width: 100%;height: initial;}
      .our_vision_section .vision_wrapper{position: absolute;top: 50%;left: 0px;transform: translate(0px, -50%);z-index: 3;width: 100%;pointer-events: none;}
      .our_vision_content_wrapper{width: 550px;}
      .vision_desc_box .anim_parrent_each:first-child .dec_common{color: var(--brandColor);}


      /*---fearless---start---here---*/
      .fearless_section{background: linear-gradient(270deg, #E26C3E 0%, #EA9747 100%);position: relative;overflow: hidden;}
      .fearless_left_logo{position: absolute;top: 0px;bottom: 0px;left: 0px;height: 100%;width: 35%;}
      .row_fearless{display: flex;justify-content: flex-end;}
      .fearless_right_colm{width: 60%;}

      .tab_wrapper_fearless{margin-top: 30px;}
      .tab-output-box-fearless{display: none;}
      .tab-menu-list-ferless ul{padding: 0px;white-space: nowrap;overflow-x: auto;padding-bottom: 5px;}
      .tab-menu-list-ferless li{display: inline-block;list-style: none;margin: 0px 30px;}
      .tab-menu-list-ferless li:first-child{margin-left: 0px;}
      .tab-menu-list-ferless li:last-child{margin-right: 0px;}
      .tab-menu-list-ferless li span{display: inline-block;padding: 12px 0px;font-size: 20px;font-weight: 400;color: #D5D1CF;
      cursor: pointer;}
      .tab-menu-list-ferless li span.active, .tab-menu-list-ferless li span:hover{font-weight: 600;color: #fff;}
      .tab-menu-list-ferless{border-bottom: 1px solid #fff;}
      .tab-wraper-box_fearless{margin-top: 40px;}
      .fearless_tab_output_inner{display: flex;flex-wrap: wrap;margin: 0px -25px;}
      .fearless_inner_colm{width: 50%;padding: 0px 25px;}
      .ferless_inner_card{border: 1px solid #fff;border-radius: 25px;    background: rgb(255 255 255 / 25%);padding: 50px 18px;
      min-height: 365px;margin-top: 25px;}
      .ferless_inner_title{font-weight: 600;font-size: 22px;line-height: 1.3;margin-bottom: 30px;color: #fff;}
      .fearless_inner_desc{font-size: 17px;font-weight: 400;color: #fff;}
      .ferless_card_title{color: #fff;font-weight: 700;font-size: 20px;padding: 5px 22px;}
      /* .ferless_card_title.active{background: #fff;border-radius: 10px;color: var(--brandColor);} */


      .text_center{text-align: center;}
      .journey_section .subex_title_common{font-size: 42px;font-weight: 700;}
      .jouney_img{width: 100%;display: block;height: initial;}
      .journey_wrapper{padding: 0px 50px;margin-top: 40px;}
      .journey_wrapper_mobile{display: none;}
      .journey_marque_box, .jurney_marque{display: none;}
      .jouney_row{display: flex;flex-wrap: wrap;margin: 0px -15px;}
      .journey_colm{width: 25%;padding: 15px;text-align: center;}
      .jouney_title{font-size: 42px;font-weight: 700;color: #F46B27;}
      .jouney_desc{font-size: 22px;font-weight: 400;line-height: 1.3;color: #303030;padding: 0px 5%;}

      
    
      /* .journey_colm {transform: translatex(150px); opacity: 0.1;transition: all 0.7s ease-out;} */
     


      /*---leadership---section---start---here---*/
      .leadership_section{position: relative;overflow: hidden;}
      .leadership_bg{position: absolute;top: 0px;left: 0px;right: 0px;bottom: 0px;width: 100%;height: 100%;object-fit: cover;}
      .leadership_section .container{position: relative;z-index: 2;}
      .leadership_row{display: flex;margin: 0px -20px;flex-wrap: wrap;}
      .leadership_colm{padding: 0px 20px;width: 55%;}
      .leadership_colm:last-child{width: 45%;}
      .leadership_section .dec_common{width: 80%;}

      .leader_ship_card{
         background: linear-gradient(18.05deg, rgba(255, 255, 255, 0.1) 0%, rgb(22 22 22 / 0%) 66%);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
         border-radius: 30px;border: 1px solid #fff;padding: 54px 36px;margin-bottom: 20px;
      }
      .leader_ship_title{font-size: 17px;font-weight: 400;line-height: 1.3;}
      .leader_ship_bold_title{font-size: 20px;font-weight: 600;line-height: 1.3;margin-top: 5px;}
      .leadership_card_desc, .leadership_card_desc p{font-size: 18px;line-height: 1.3;font-weight: 300;margin-top: 15px;padding-top: 15px;
      border-top: 1px solid #fff;}

      /*---ceo--section---start---here---*/
      .ceo_message{position: relative;background: linear-gradient(172.19deg, #FFFFFF 49.83%, #FFDEBB 93.97%);}
      .ceo_message .container{position: relative;z-index: 2;}
      .ceo_bg{position: absolute;bottom: 0px;right: 0px;width: 35%;height: initial;max-height: 100%;object-fit: cover;}
      .ceo_message_row{display: flex;align-items: center;flex-wrap: wrap;margin: 0px -15px;}
      .ceo_message.active .ceo_message_row{align-items: flex-start;}
      .ceo_message_colm{width: 50%;padding: 0px 15px;}
      .ceo_message_content{padding-left: 30px;}
      .img_ceo{width: 100%;height: initial;transition: all 0.5s;}
      .ceo_message_image{overflow: hidden;border-radius: 30px;line-height: 0px;}
      .ceo_message_image:hover .img_ceo{transform: scale(1.1);}
      .btn_toggle_ceo svg{width: 100%;height: initial;}
      .btn_toggle_ceo.active svg{transform: rotate(180deg);}
      

      .btn_toggle_ceo {width: 22px;margin: 0px auto;margin-top: 20px;cursor: pointer;animation: moveUpDown 1.5s infinite ease-in-out;}

      @keyframes moveUpDown {0% {transform: translateY(0);}50% {transform: translateY(-6px);}100% {transform: translateY(0);}}
      .btn_toggle_ceo:hover svg path{fill: #000;}
      .show_ceo_more_content{display: none;}

      /*---leadership---message---start---here---*/
      .leadrship_message_section{padding: 40px 0px;}
      .row_leadrship_message{display: flex;align-items: center;flex-wrap: wrap;margin: 0px -15px;}
      .colm_leader_ship_message{width: 45%;padding: 0px 15px;}
      .colm_leader_ship_message:nth-of-type(2){width: 55%;}
      .ledrship_message_logo{width: 100%;height: initial;}
      .leadrship_message_section .container{padding-left: 30px;}
      .bold_desc{font-weight: 700;}
      .colm_leader_ship_message .dec_common{width: 80%;}
      .btn_box_leadreship_message{margin-top: 25px;}
      .btn_box_leadreship_message .common_btn_subex2{margin-left: 15px;}

      
      
      
/*--- My Css---*/
   .color-fff{color: #fff;}
   .mt10{margin-top: 10px;}
   .mt20{margin-top: 20px;}
   .pt20{padding-top: 20px;}
   .small-text{font-size: 12px; font-weight: 300;}
   .bt-orange {border-top: 1px solid #F17A3F;}
a.solid-btn {
    background: #F17A3F;
    color: #fff;
    font-size: 16px;
    padding: 8px 20px;
    font-weight: 400;
    border-radius: 10px;
    border: 1px solid #F17A3F;
}
a.solid-btn:hover {
    background: #fff;
    color: #F17A3F;
    border: 1px solid #F17A3F;
}
a.trans-btn{
    background: transparent;
    color: #fff;
    font-size: 16px;
    padding: 8px 20px;
    font-weight: 400;
    border-radius: 10px;
    border: 1px solid #F17A3F;
}
a.trans-btn:hover{
    background: #F17A3F;
    color: #fff;
    font-size: 16px;
    padding: 8px 20px;
    font-weight: 400;
    border-radius: 10px;
    border: 1px solid #F17A3F;
}
.ccc{border-top: 1px solid #F17A3F;}

   .banner-button-wrapper {
       display: flex;
       column-gap: 20px;
   }

   .banner-subex {
       min-height: 700px;
       display: flex;
       align-items: center;
       background-image: url(../images/investor/banner-bg.jpg);
       background-size: cover;
       background-position: center;
   }
   .banner-btn-group {
       display: flex;
       flex-direction: row;
       column-gap: 40px;
   }
.banner-subex .container {
    margin-left: 0;
}
.banner-subex-content p{
   font-size: 16px;
   line-height: 18px;
   color: #fff;
   font-weight: 400;
}
   .about-subex{
      background-image: url(https://inclusivity.agency/jlf/video.gif);
       background-size: cover;
       background-color: #fff;
       position: relative;
       background-position: center center;
       background-repeat: no-repeat;
   }
   .about-subex-video{position: relative;}

   .about-subex-content {
       padding: 50px;
       border: 1px solid #F17A3F;
       border-radius: 25px;
       position: relative;
       background: #ffffffa3;
      }
      .about-subex-video video {
          height: 100%;
          width: 100%;
      }
      /*.video-container-txt {
          position: absolute;
          top: 50%;
          left: 0px;
          right: 0px;
          width: 100%;
          transform: translate(0px, -50%);
          z-index: 2;
      }*/

   .featured-video{
         background-image: url(../images/investor/video-bg.jpg);
       background-size: cover;
       background-color: #fff;
    }

    .featured-video-wrapper img {
       border-radius: 84px;
   }
   
   .quick-access{
     background-image: url(../images/investor/quick-access-bg.jpg);
     background-size: cover;
   }

   .quick-access-list-wrapper {
       display: flex;
       flex-direction: row;
       column-gap: 40px;
   }

   .quick-access-list {
         border: 1px solid #F17A3F;
       border-radius: 20px;
       padding: 27px 30px;
       background-color: #231f20e3;
       max-width: 570px;
       width: 100%;
       margin: 25px 0px;
   }

   .quick-access-list p {
       font-size: 18px;
       line-height: 28px;
        color: #fff;
   }

   .quick-access-list h3 {
       font-size: 26px;
       line-height: 36px;
           margin-bottom: 5px;
           color: #fff;
   }
   .governance-corporate-info{
      background-image: url(../images/investor/governance-corporate-info.jpg);
      background-size: cover;
   }

/* ===== Accordion Scroll + Hover Styling ===== */
    .accordion {
      border-radius: 8px;
      padding: 15px 0px;
      transition: all 0.4s ease;
      overflow: hidden;
      opacity: 0.8;
      transform: scale(0.98);
      cursor: pointer;
          margin-top: 25px;
    }

    .accordion:hover {
      opacity: 1;
      transform: scale(1);
    }
    .accordion:hover h2 {
    color: #F17A3F;
}

    .accordion.active {
      opacity: 1;
      transform: scale(1);
    }

    .accordion-header {
      display: flex;
      align-items: center;
      gap: 15px;
      user-select: none;
    }

    .icon {
      width: 28px;
      height: 28px;
      border: 2px solid #000;
      border-radius: 4px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 18px;
      font-weight: bold;
      flex-shrink: 0;
      color: #000;
      transition: all 0.3s ease;
    }

    .accordion-header h2 {
      font-size: 26px;
      line-height: 36px;
      font-weight: 400;
      color: #000;
      margin: 0;
    }

    

    .accordion-content {
      display: flex;
      flex-direction: column;
      margin-top: 0;
      padding-left: 43px;
      gap: 4px;
      max-height: 0;
      opacity: 0;
      overflow: hidden;
      transition: all 0.5s ease;
    }

    .accordion-content .subtext {
      font-size: 16px;
       color: #000;
       line-height: 26px;
    }

    /* Expanded (active or hover) */
    .accordion.active .accordion-content,
    .accordion:hover .accordion-content {
      margin-top: 10px;
      opacity: 1;
      max-height: 200px;
    }

    .accordion.active .icon,
    .accordion:hover .icon {
      border-color: #f26c23;
      color: #f26c23;
    }



    /*recent press and features*/

    .recent-press-features{
      background-image: url(../images/investor/recent-press-features.jpg);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
   }
    h2 {
      font-size: 1.8rem;
      margin-bottom: 40px;
      letter-spacing: 0.5px;
    }

    .cards-container {
      display: flex;
      justify-content: center;
      align-items: stretch;
      flex-wrap: wrap;
      gap: 24px;
      max-width: 1200px;
      margin: 0 auto;
    }

    .card {
      flex: 1 1 300px;
      background: #fff;
      border-radius: 40px;
      box-shadow: 0 6px 12px rgba(0, 0, 0, 0.08);
      padding: 60px 40px;
      transition: all 0.3s ease;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    .card:hover {
      transform: translateY(-10px);
      box-shadow: 0 12px 24px rgba(0, 0, 0, 0.15);
    }

    .card h4 {
         color: #F17A3F;
    text-transform: uppercase;
    font-size: 18px;
    margin-bottom: 10px;
    letter-spacing: 0.5px;
    line-height: 24px;
    font-weight: bold;
    }

    .card h3 {
      font-size: 16px;
      margin-bottom: 12px;
      font-weight: 600;
    }

    .card p {
      font-size: 18px;
    line-height: 22px;
    margin-bottom: 20px;
    color: #000;
    }

    .date-location {
      font-size: 0.85rem;
      color: #777;
      margin-bottom: 12px;
    }

    .card .btn {
      align-self: flex-start;
      background-color: #F17A3F;
      color: white;
      border: none;
      padding: 10px 18px;
      border-radius: 10px;
      cursor: pointer;
      font-weight: 700;
      font-size: 14px;
      transition: all 0.3s ease;
      text-decoration: none;
    }

    .btn:hover {
      background-color: #e65a20;
      transform: scale(1.05);
    }

    @media (max-width: 768px) {
      .cards-container {
        flex-direction: column;
        align-items: center;
      }
    }


/*RESPNSIVE*/
@media screen and (max-width: 767px) {
   .banner-subex {
    min-height: 700px;
    display: flex;
    align-items: center;
    background-image: url(../images/investor/banner-bg.jpg);
    background-position: 60% center;
    background-repeat: no-repeat;
    background-size: cover;
}

   .banner-subex-content h1 {
    font-size: 22px;
}
.featured-video-wrapper img {
    border-radius: 35px;
}
.banner-btn-group {
    flex-direction: column;
}
  .quick-access-list-wrapper { flex-direction: column;}
  .about-subex-content {padding: 25px}
  .quick-access-list {
    max-width: 100%;
    width: 100%;
}
.accordion-header h2 {
    font-size: 20px;
    line-height: 26px;
}
.accordion {
    margin-top: 10px;
}
.m-fdr{flex-direction: row;}
.m-cg10{column-gap: 10px;}
.m-aic{align-items: center;}
}